@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');

body, html {
    padding: 0;
    margin : 0;
    background-color: black;
}

*, *::before, *::after {
    box-sizing: border-box;
}


#app {
    background-color: rgb(54, 54, 54);
    color: rgb(255, 255, 255);

    width: 210mm;
    height: 297mm;

    margin-left: auto;
    margin-right: auto;
}

#content {
    width: 100%;
    height: 100%;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

#right-side-content {
    max-width: 100%;
    height: 100%;

    padding: 8mm;

    font-size: 4.3mm;

    background: linear-gradient(to top right, rgb(31, 31, 31), rgb(48, 48, 48));

    display: flex;
    flex-direction: column;
}

#right-side-content h2 {
    margin: 1mm 0;
}

#right-side-content p {
    margin: 0;
}

#right-side-content h1 {
    text-align: center;
    margin-bottom: 0mm;
}

#right-side-content h1#email {
    font-weight: 100;
    font-size: 5mm;
    margin: 5mm;
}

#right-side-content a {
    color: rgb(115, 207, 250);
}

#right-side-content .big-font {
    margin: 0;
    font-size: 4mm;
}

#left-side-content {

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(53, 92, 53);
    color: white;
    font-size: 5mm;
    text-align: center;
    
    padding: 12mm 3mm 3mm 3mm;

    width: 30%;
    min-width: 30%;
    height: 100%;

    background: linear-gradient(to bottom right, rgb(42, 117, 42), rgb(7, 56, 22))

}

#left-side-content #hobbies {

    margin-top: 20mm;

}

#left-side-content #hobbies li {
    text-align: left;
}

#left-side-information {
    display: block;
    margin-bottom: auto;
}


#left-side-content div.spoken-language {

    width: auto;
    background: rgba(0, 0, 0, 0.3);
    margin-top: 3mm;
    padding: 6mm;
    font-size: 80%;

}

#left-side-content div.spoken-language h2 {
    margin: 1mm;
}

#left-side-content div.spoken-language h4 {

    margin: 0;

}

#left-side-content div.spoken-language img {
    width: 40mm;
    height: 20mm;
    margin: 2mm;
}

#profile-picture {

    width: 25mm;
    height: auto;

    display: block;
    margin-left: auto;
    margin-right: auto;

    border-radius: 999mm;

}

.vertical-line {
    border-bottom: 0.1mm solid white;
    margin-bottom: auto;
}



.information-box {
    margin-top: auto;
    margin-bottom: auto;
    padding: 4mm;
    padding-bottom: 0;
    border: 0mm solid;
    border-radius: 4mm;
}

.information-box h2 {
    margin: 0;
}

/* Border colors */
.pink {
    border-color: pink;
}
.mint {
    border-color: rgb(70, 241, 162);
}
.blue {
    border-color: rgb(87, 160, 255);
}
.red {
    border-color: rgb(196, 66, 66);
}
.orange {
    border-color: rgb(189, 135, 54);
}
.yellow {
    border-color: rgb(196, 193, 16);
}
.green {
    border-color: rgb(68, 187, 57);
}
/* End of border color styling */

.progress-bar, .progress-bar-fill {
    height: 2mm;
    border-radius: 999mm;
}

.progress-bar {
    width: 100%;
    background-color: rgb(34, 34, 34);
}

.progress-bar-fill {
    border: 0.5mm solid rgb(34, 34, 34);
}

#left-side-skill-1 .progress-bar-fill {
    width: 70%;
    background: linear-gradient(to right, rgb(138, 39, 39), rgb(185, 81, 81))
}

#left-side-skill-2 .progress-bar-fill {
    width: 65%;
    background: linear-gradient(to right, rgb(146, 111, 64), rgb(204, 166, 95));
}

#left-side-skill-3 .progress-bar-fill {
    width: 65%;
    background: linear-gradient(to right, rgb(196, 193, 16), rgb(218, 209, 88));
}

#left-side-skill-4 .progress-bar-fill {
    width: 40%;
    background: linear-gradient(to right, rgb(30, 116, 22), rgb(112, 231, 118));
}

#left-side-skill-5 .progress-bar-fill {
    width: 35%;
    background: linear-gradient(to right, rgb(31, 79, 124), rgb(88, 152, 236));
}

#left-side-skill-6 .progress-bar-fill {
    width: 13%;
    background: linear-gradient(to right, rgb(73, 12, 73), rgb(147, 43, 173));
}

#left-side-skill-7 .progress-bar-fill {
    width: 11%;
    background: linear-gradient(to right, rgb(206, 41, 206), rgb(146, 63, 167));
}

.centered-text {
    margin-top: 20mm;
    text-align: center;
}

#left-links {

    display: block;
    margin-top: auto;
    justify-content: center;

}

#left-side-links {
    display: inline-flex;
}

#left-side-links img{

    margin: 0 6mm;

    height: 8mm;
    width: auto;

    filter: brightness(0);

}